
<div ng-controller="SearchController" class="SearchController">
  <header><img src="/img/logo.png" alt="logo"/></header>
  <div class="search-section">
    <div class="form-group">
      <form>
        <input type="text" placeholder="Enter a twitter account" id="input-search" ng-model="searchModel"/>
        <button id="button-search" ng-click="searchClick()">Search</button>
        <no-data ng-if="!loading &amp;&amp; nodata"></no-data>
      </form>
    </div>
  </div>
  <div id="response-container">
    <loading ng-show="loading"></loading>
    <div ng-repeat="tweet in tweetsRes" ng-class="{&quot;active&quot;: tweetsRes.length &gt; 0 &amp;&amp; !loading}" class="repeater">
      <div id="clearBox" class="content-section">
        <div class="wrapper">
          <div class="wrap-response">
            <div class="block-header">
              <div class="user-detail"><img src="{{tweet.user.profile_image_url}}" alt="logo"/>
                <div class="detail-wrap">
                  <div class="title-name">{{tweet.user.name}}</div>
                  <div class="title-who">@{{tweet.user.screen_name}}  •  {{tweet.created_at | moment: 'format': 'DD MMM YYYY' }}</div>
                </div>
              </div>
              <div class="collapse"><i data-chev="{{$index}}" ng-click="toggle($index)" class="fa fa-chevron-up"></i></div>
            </div>
            <div data-text="{{$index}}" class="description">{{tweet.text}}</div>
            <div data-id="{{$index}}" class="block-body">
              <div ng-show="tweet.entities.media" class="image"><img src="{{tweet.entities.media[0].media_url}}"/></div>
              <div class="block-footer">
                <div class="social-icons"><i class="fa fa-reply"></i><i ng-class="{'tweet-active': tweet.retweeted}" ng-click="handleRetweet(tweet.id_str, tweet.retweeted)" class="fa fa-retweet"></i>{{tweet.retweet_count}}<i ng-class="{'heart-active': tweet.favorited}" ng-click="favorite(tweet.id_str)" class="fa fa-heart"></i>{{tweet.favorite_count}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>